* {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 1px gray;
}

.menu-links {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 25px;
}

.menu-links a {
  text-decoration: none;
}

.books-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: center;
}
